<!DOCTYPE html>
<html ng-app="App" ng-controller="controller">
<head>
    <script src="angular.js"></script>
    <script src="one-layer-self-organizing-kohonen-network.js"></script>
    <script src="js-ocr.js"></script>
    <script src="demo.js"></script>

    <link rel="stylesheet" href="style.css">

    <style type="text/css">

        #characterImages img, #studyImages img {
            border: 1px solid blue;
            margin-right: 2px;
        }

    </style>
</head>
<body>
<h1>Simple pure JS OCR (in progress)</h1>

<div>
    <a href="https://github.com/terma/js-ocr">GitHub</a>
    <a href="benchmark.html">Tests</a>
</div>

<div style="float: left; width: 45%; padding-right: 3%;">
    <h3>Test Text</h3>

    <p>
        Font Size {{ fontSize }}px
        <input type="range" min="10" max="100" step="1" ng-model="fontSize" ng-model-options="{ debounce: 1000 }"/>
    </p>

    <textarea style="width: 99%; height: 100px;" ng-model="testText" ng-model-options="{ debounce: 1000 }"></textarea>

    <h3>Image to test</h3>

    <div style="position: relative;">
        <canvas style="position: absolute; left: 0; top: 0;" id="original" width="500" height="500"></canvas>
        <canvas style="position: absolute; left: 0; top: 0;" id="result" width="500" height="500"></canvas>
    </div>
</div>

<div style="width: 50%; float: left;">
    <h3>Recognized text (acc {{ accuracy | number : 0 }}% except spaces)</h3>

    <pre id="recognized"></pre>

    <h3>Before reco images</h3>

    <div id="characterImages"></div>

    <h3>Study Images</h3>

    <a ng-show="!showStudyImages" href="javascript:void(0);" ng-click="showStudyImages = true">Show</a>

    <div ng-show="showStudyImages" id="studyImages"></div>

    <h3>Network Result</h3>

    <a ng-show="!showNetworkResult" href="javascript:void(0);" ng-click="showNetworkResult = true">Show</a>

    <div ng-show="showNetworkResult" id="networkResult"></div>
</div>

</body>
</html>

