<!DOCTYPE html>
<html ng-app="App" ng-controller="controller">
<head>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="character.js"></script>

    <style type="text/css">

        body {
            margin: 3%;
            font-family: monospace;
        }

    </style>
</head>
<body>

<h1>Network</h1>

<h3>Input</h3>

<p>
    English Alphabet
</p>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding-right: 10px; padding-bottom: 10px;"><label>Character pic side</label></td>
        <td style="padding-bottom: 10px;"><input type="text" ng-model="pictureSide"></td>
    </tr>
    <tr>
        <td style="padding-right: 10px;"><label>Accepted Accuracy</label></td>
        <td><input type="text" ng-model="acceptedAccuracy"></td>
    </tr>
</table>

<h3>State</h3>

<p>
    Study Time {{ studyTime }} msec<br>Study Cycles {{ studyCycle }}<br>Accuracy {{ accuracy }}

<p>Latest Test Result ({{ result.success }} / {{ result.tests.length }})</p>

<p>

<div ng-repeat="item in result.tests" style="padding: 2px; padding-right: 4px; display: inline-block;">{{ item.test }}=>{{
    item.recognized }}
</div>
</p>

<p>
    <input type="button" ng-click="init()" value="Reset">
    <input type="button" ng-click="startStudy()" ng-show="!studyTimeout" value="Start Study">
    <input type="button" ng-click="stopStudy()" ng-show="studyTimeout" value="Stop Study">
</p>

<p>
    <input type="button" ng-click="download()" value="Download Configuration">
</p>

</body>
</html>

