<!DOCTYPE html>
<html ng-app="App" ng-controller="controller">
<head>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="engine.js"></script>
</head>
<body>

<div style="width: 33%; float: left;">
    Input
    <a href="javascript:void(0);" ng-click="decide()">Decide</a>,
    <input type="text" ng-model="expectedOutputIndex">
    <a href="javascript:void(0);" ng-click="study()">Study</a>
    <table style="font-size: 10px;">
        <tr ng-repeat="row in input track by $index" ng-init="rowIndex = $index">
            <td ng-repeat="item in row track by $index">
                <a href="javascript:void(0);" ng-click="mutateInput($index, rowIndex)">{{ item }}</a>
            </td>
        </tr>
    </table>

    <canvas width="{{ size }}" height="{{ size }}" id="canvas"></canvas>
    <input type="button" ng-click="startStudy()" value="Start Study">
    <input type="button" ng-click="stopStudy()" value="Stop Study">
</div>

<div style="width: 33%; float: left;">
    Network
    <input type="text" ng-model="outputCounts">
    <table>
        <tr ng-repeat="neuron in network.neurons">
            <td>Neuron{{ $index }}</td>
            <td ng-repeat="inputWeight in neuron.inputWeights track by $index">
                {{ inputWeight | number : 1 }}
            </td>
        </tr>
    </table>
</div>

<div style="width: 33%; float: left;">
    Output
    <table>
        <tr ng-repeat="item in output track by $index">
            <td>{{ item }}</td>
        </tr>
    </table>
</div>

</body>
</html>

