body, textarea {
    font-family: monospace;
    font-size: 13px;
}

body {
    margin: 3%;
}

.result {
    border: 1px solid transparent;
    border-collapse: collapse;
}

.error {
    border: 1px solid red;
    border-collapse: collapse;
}